<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/07555236b8.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'/>
    <link rel="stylesheet" href="/static/about.css">
    <title>Document</title>
    <style>
        p{
            margin-top: 20px;
            color: #fffcfd;
        }
    </style>
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="title">
                <h1>About us</h1>
            </div>
            <div class="content">
                <div class="article">
                    <h3>Multiple choice questions(MCQ), </h3>
                    <p>Multiple choice, objective response or MCQ is a form of an objective assessment in which respondents are asked to select only correct answers from the choices offered as a list.</p>
                    <div class="button">
                        <a href="/readmore">Read more</a>
                    </div>
                </div>
            </div>
            <div class="image-section">
                <img src="/static/img/1674296350260.jpg" alt="">
            </div>
            <div class="social">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</body>
</html>