<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>General Knowledge </h3>
    <table class="table table-success table-striped">
        <tr>
        <th>Name Of The Candidate</th>
         <th>Mark</th>
         <th>Percentage</th>
         <th>Time Taken</th>
         <th>Date Of The Examination</th>
        </tr>
        <tr>
            <td>{{ fname }}</td>
            <td>{{ mark }} / 30</td>
            <td>{{ per }}%</td>
            <td>{{ time }}</td>
            <td>{{ date }}</td>
        </tr>
    </table>
    <h3>Chemistry </h3>
    <table class="table table-primary table-striped">
        <tr>
        <th>Name Of The Candidate</th>
         <th>Mark</th>
         <th>Percentage</th>
         <th>Time Taken</th>
         <th>Date Of The Examination</th>
        </tr>
        <tr>
            <td>{{ fname1 }}</td>
            <td>{{ mark1 }} / 30</td>
            <td>{{ per1 }}%</td>
            <td>{{ time1 }}</td>
            <td>{{ date1 }}</td>
        </tr>
    </table>
    <h3>Geology</h3>
    <table class="table table-secondary table-striped">
        <tr>
        <th>Name Of The Candidate</th>
         <th>Mark</th>
         <th>Percentage</th>
         <th>Time Taken</th>
         <th>Date Of The Examination</th>
        </tr>
        <tr>
            <td>{{ fname2 }}</td>
            <td>{{ mark2 }} / 30</td>
            <td>{{ per2 }}%</td>
            <td>{{ time2 }}</td>
            <td>{{ date2 }}</td>
        </tr>
    </table>
    <h3>English </h3>
    <table class="table table-danger table-striped">
        <tr>
        <th>Name Of The Candidate</th>
         <th>Mark</th>
         <th>Percentage</th>
         <th>Time Taken</th>
         <th>Date Of The Examination</th>
        </tr>
        <tr>
            <td>{{ fname3 }}</td>
            <td>{{ mark3 }} / 30</td>
            <td>{{ per3 }}%</td>
            <td>{{ time3 }}</td>
            <td>{{ date3 }}</td>
        </tr>
    </table>
    <h3>Mathematics </h3>
    <table class="table table-warning table-striped">
        <tr>
        <th>Name Of The Candidate</th>
         <th>Mark</th>
         <th>Percentage</th>
         <th>Time Taken</th>
         <th>Date Of The Examination</th>
        </tr>
        <tr>
            <td>{{ fname4 }}</td>
            <td>{{ mark4 }} / 30</td>
            <td>{{ per4 }}%</td>
            <td>{{ time4 }}</td>
            <td>{{ date4 }}</td>
        </tr>
    </table>
    <h3>Biology</h3>
    <table class="table table-info table-striped">
        <tr>
        <th>Name Of The Candidate</th>
         <th>Mark</th>
         <th>Percentage</th>
         <th>Time Taken</th>
         <th>Date Of The Examination</th>
        </tr>
        <tr>
            <td>{{ fname5 }}</td>
            <td>{{ mark5 }} / 30</td>
            <td>{{ per5 }}%</td>
            <td>{{ time5 }}</td>
            <td>{{ date5 }}</td>
        </tr>
    </table>
</body>
</html>